* {
  font-family: Open Sans;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 16px;
}

body {
  font-family: "Arial", sans-serif;
}

img {
  max-width: 100%;
  display: block;
}

header {
  padding: 20px 0;
  background-color: #0a121f;
  position: sticky;
  top: 0;
  z-index: 100;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: no-wrap;
}

.logo img:nth-child(2) {
  display: none;
}

.list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: no-wrap;
}

.list-item {
  margin: 0 20px;
}

.list-link {
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  color: #fff;
}

.list-link:hover {
  color: #3a68b8;
}

.nav-btns {
  display: flex;
  align-items: center;
}

.nav-btn {
  padding: 15px 30px;
  border-radius: 5px;
  background-color: #3a68b8;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  color: #fff;
}

.nav-btn:hover {
  background-color: blue;
}

.burger {
  display: none;
}
.burger span {
  width: 30px;
  height: 3px;
  background-color: #fff;
  display: block;
}
.burger span:nth-child(2) {
  margin: 4px 0;
}

@media (max-width: 900px) {
  .logo img:nth-child(1) {
    display: none;
  }
  .logo img:nth-child(2) {
    display: block;
  }
}
@media (max-width: 700px) {
  .list {
    display: none;
  }
  .burger {
    margin-left: 30px;
    display: block;
  }
}
.hero-section {
  padding: 50px 0 100px 0px;
  background: linear-gradient(18deg, #08101d, #08111e);
  -webkit-backdrop-filter: blur(100px);
          backdrop-filter: blur(100px);
}

.hero-flex__conatiner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.hero-subtitle {
  font-size: 18;
  font-weight: 600;
  line-height: normal;
  color: #3a68b8;
}

.hero-title {
  margin-top: 10px;
  max-width: 605px;
  font-size: 55px;
  font-weight: 800;
  line-height: normal;
  color: #fff;
}

.hero-text {
  margin-top: 40px;
  max-width: 558px;
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
  color: #fff;
  opacity: 0.7;
}

.hero-btns {
  margin-top: 65px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.hero-btn {
  padding: 15px 30px;
  border-radius: 5px;
  background-color: #3a68b8;
  font-size: 20px;
  font-weight: 600;
  line-height: normal;
  color: #fff;
}

.hero-btn:hover {
  background-color: blue;
}

.flex-btn {
  display: flex;
  align-items: center;
  gap: 10px;
}

.hero-banner {
  max-width: 632px;
}

.hero-banner img {
  width: 100%;
}

.hero-partners {
  margin-top: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  gap: 10px;
}

@media (max-width: 1200px) {
  .hero-partners img {
    width: 20%;
  }
}
@media (max-width: 968px) {
  .hero-flex__conatiner {
    display: block;
    margin: 0 auto;
    text-align: center;
  }
  .hero-title {
    margin-left: auto;
    margin-right: auto;
    font-size: 48px;
  }
  .hero-text {
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
  }
  .hero-btns {
    justify-content: center;
  }
  .hero-banner {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 600px) {
  .hero-section {
    padding: 50px 0 50px 0px;
  }
  .hero-title {
    font-size: 36px;
  }
  .hero-btns {
    margin-top: 24px;
    flex-direction: column;
    width: 100%;
  }
  .hero-btn {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
  }
  .flex-btn {
    justify-content: center;
  }
  .hero-partners {
    margin-top: 50px;
    display: block;
  }
  .hero-partners img {
    margin-top: 30px;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
  }
}
.footer-section {
  padding: 80px 0px 148px 0px;
  background: linear-gradient(#070f1c, #09111e);
}

.footer-grid-container {
  display: flex;
  row-gap: 30px;
  -moz-column-gap: 50px;
       column-gap: 50px;
  justify-content: space-between;
  align-items: end;
  flex-wrap: wrap;
}

.footer-logos {
  max-width: 261px;
}

.information {
  max-width: 164px;
}

.footerLinks {
  max-width: 165px;
}

.footerMenu {
  max-width: 165px;
}

.about {
  max-width: 261px;
}

.logo-text {
  margin-top: 7px;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  color: #3a68b8;
}

.logo-info {
  margin-top: 10px;
  opacity: 0.6;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  color: #fff;
}

.footer-adres {
  margin-top: 10px;
}

.email,
.phone,
.map {
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 9px;
}

.email,
.phone,
.map p {
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  color: #fff;
}

.email:hover,
.phone:hover,
.map p:hover {
  color: blue;
}

.information-title,
.footerMenu-title,
.footerLinks-title,
.about-title {
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  color: #fff;
  margin-bottom: 10px;
}

.information a,
.footerMenu a,
.footerLinks a,
.about-info {
  display: block;
  margin-top: 20px;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  color: #fff;
  opacity: 0.6;
}

.information a:hover,
.footerMenu a:hover,
.footerLinks a:hover {
  color: blue;
}

.link {
  display: block;
  margin-top: 30px;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  color: #fff;
}

.networks {
  margin-top: 20px;
  display: flex;
  gap: 25px;
}

.yazik {
  display: flex;
  margin-top: 50px;
  align-items: center;
}

.yazik-title {
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  color: #fff;
}

.apply-section {
  padding: 130px 0px 170px 0px;
  background-color: #020a18;
}

.apply-container__flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  gap: 50px;
}

.apply-banner {
  max-width: 725px;
}

.apply-banner img {
  width: 100%;
}

.apply-title {
  max-width: 484px;
  font-size: 40px;
  font-weight: 700;
  line-height: normal;
  color: #fff;
}

.apply-text {
  max-width: 460px;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  color: #fff;
  opacity: 0.7;
}

.apply-btn {
  display: inline-flex;
  margin-top: 50px;
  padding: 15px 30px;
  border-radius: 5px;
  background-color: #3a68b8;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  color: #fff;
}

.apply-btn:hover {
  background-color: blue;
}

@media (max-width: 968px) {
  .apply-container__flex {
    flex-direction: column-reverse;
    margin-left: auto;
    margin-right: auto;
  }
  .apply-banner {
    max-width: 640px;
  }
  .apply-title,
  .apply-text {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  .apply-btn {
    max-width: 90%;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 600px) {
  .apply-section {
    padding: 56px 0px 56px 0px;
  }
  .apply-title {
    font-size: 32px;
  }
  .apply-text {
    margin-top: 24px;
  }
  .apply-btn {
    margin-top: 24px;
  }
}
.cards-section {
  background-color: #020a18;
}

.cards-grid__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  gap: 30px;
}

.card-item {
  max-width: 368px;
  padding: 30px;
  background-color: #172030;
  border-radius: 10px;
}

.card-img {
  max-width: 98px;
  opacity: 1;
  margin-left: auto;
  margin-right: auto;
}
.card-img img {
  width: 100%;
  opacity: 1;
}

.card-title {
  margin-top: 30px;
  font-size: 25px;
  font-weight: 700;
  line-height: normal;
  color: #fff;
  text-align: center;
  opacity: 0.7;
}

.card-info {
  margin-top: 30px;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  color: #fff;
  text-align: center;
  opacity: 0.7;
}

.slider-control {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.slider-control span {
  width: 15px;
  height: 15px;
  border-radius: 100%;
}

.control {
  background-color: #172030;
}

.active {
  background-color: #2d2828;
}

@media (max-width: 968px) {
  .card-title {
    font-size: 20px;
  }
  .card-info {
    font-size: 14px;
  }
  .cards-grid__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .card-img {
    max-width: 80px;
  }
  .none1 {
    display: none;
  }
  .card-item {
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 768px) {
  .none2 {
    display: none;
  }
  .cards-grid__container {
    grid-template-columns: repeat(1, 1fr);
  }
  .slider-control {
    margin-top: 20px;
  }
}
.whot-section {
  padding: 170px 0px 170px 0px;
  background-color: #020a18;
}

.whot-flex__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.whot-title {
  max-width: 548px;
  margin-bottom: 20px;
  font-size: 40px;
  font-weight: 700;
  line-height: normal;
  color: #fff;
}

.whot-text {
  margin-top: 20px;
  max-width: 468px;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  color: #fff;
  opacity: 0.7;
}

.whot-banner {
  max-width: 642px;
}

.whot-banner img {
  width: 100%;
}

@media (max-width: 968px) {
  .whot-flex__container {
    flex-direction: column;
    gap: 50px;
    margin-left: auto;
    margin-right: auto;
  }
  .whot-title {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  .whot-text {
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
    text-align: center;
  }
}
@media (max-width: 600px) {
  .whot-section {
    padding: 90px 0px 56px 0px;
  }
  .whot-title {
    font-size: 32px;
  }
}/*# sourceMappingURL=main.css.map */