* {
  font-family: Open Sans;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 2%;
}

body {
  font-family: "Arial", sans-serif;
}

img {
  max-width: 100%;
  display: block;
}
