$header-bg: #0a121f;
$site-text: #fff;
$btn-bg: #3a68b8;
$liner-bg1: #08101d;
$liner-bg2: #08111e;
$apply-bg: #020a18;
$card-bg: #172030;
$control-bg: #2d2828;
$footer-bg1: #070f1c;
$footer-bg2: #09111e;
