.hero-section {
  padding: 50px 0 100px 0px;
  background: linear-gradient(18deg, $liner-bg1, $liner-bg2);
  backdrop-filter: blur(100px);
}

.hero-flex__conatiner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.hero-subtitle {
  @include allText(18, 600, normal, $btn-bg);
}

.hero-title {
  margin-top: 10px;
  max-width: 605px;
  @include allText(55px, 800, normal, $site-text);
}

.hero-text {
  margin-top: 40px;
  max-width: 558px;
  @include allText(18px, 600, normal, $site-text);
  opacity: 0.7;
}

.hero-btns {
  margin-top: 65px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.hero-btn {
  @include allBtns;
  @include allText(20px, 600, normal, $site-text);
}

.hero-btn:hover {
  background-color: blue;
}

.flex-btn {
  display: flex;
  align-items: center;
  gap: 10px;
}

.hero-banner {
  max-width: 632px;
}

.hero-banner img {
  width: 100%;
}

.hero-partners {
  margin-top: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  gap: 10px;
}

@media (max-width: 1200px) {
  .hero-partners img {
    width: 20%;
  }
}

@media (max-width: 968px) {
  .hero-flex__conatiner {
    display: block;
    margin: 0 auto;
    text-align: center;
  }

  .hero-title {
    margin-left: auto;
    margin-right: auto;
    font-size: 48px;
  }

  .hero-text {
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
  }

  .hero-btns {
    justify-content: center;
  }

  .hero-banner {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 600px) {
  .hero-section {
    padding: 50px 0 50px 0px;
  }

  .hero-title {
    font-size: 36px;
  }

  .hero-btns {
    margin-top: 24px;
    flex-direction: column;
    width: 100%;
  }

  .hero-btn {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
  }

  .flex-btn {
    justify-content: center;
  }

  .hero-partners {
    margin-top: 50px;
    display: block;
  }

  .hero-partners img {
    margin-top: 30px;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
  }
}
